.footer {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $white;
    font-weight: 600;
    .footer__text {
        margin-top: 40px;
        padding: 20px 0;
    }
    .footer__social {
        text-transform: uppercase;
        padding: 10px 0;
        .footer__social--item {
            color:$white;
            padding: 0 50px;
        }
    }
    @media screen and (max-width: 1024px){
        font-size: 14px;
        .footer__text{
            margin-top: 2%;
            }
        .footer__social {
            .footer__social--item {
            padding: 0 20px;
                .main__icon--item{
                    margin-right: 5px;
                }
        }
        }
    }
    @media screen and (max-width: 480px){
        flex-basis: 45%;
        font-size: 12px;
        width: 100%;
        text-align: center;
        .footer__text{
            width: 100%;
            box-sizing: border-box;
            padding: 0 15%;
                line-height: 150%;
            }
        .footer__social {
            display: flex;
            flex-direction: column;
            .footer__social--item {
            align-self: center;
            padding: 10px 0;
                  .main__icon--item{
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
}