.main {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .main__title {
        font-size: 36px;
        font-weight: 200;
        width:555px;
        text-align: center;
        z-index: 0;
        .main__title--white {
            color: $white;
            font-weight: 600;
        }
    }
    .main__icon{
        width: 104px;
        height: 104px;
        z-index: 0;
        &:hover {
            animation: spin 2s linear;
        }
    }
    @media screen and (max-width: 1024px){
        .main__title {
            width: 465px;
            font-size: 30px;
        }
        .main__icon{
                width: 85px;
                height: 85px;
            .main__icon--item {
                width: inherit;
            }
        }
}
    @media screen and (max-width: 480px){
        justify-content: flex-end;
        .main__title {
            padding: 2% 0;
            font-size: 18px;
            width: 220px;
            letter-spacing: 1px;
            color: $white;
        }
         .main__icon{
                margin: 5% 0;
                width: 66px;
                height: 66px;
            .main__icon--item {
                width: inherit;
            }
        }
    }
}



@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}